html, body {
  height: 100%;
}

body {
  background: #fafafa;
  width: 100%;
}

nav {
  height: 44px;
  display: block;
  position: fixed;
  width: 100%;
  background-color: rgb(34, 42, 33);
  letter-spacing: 9px;
  font-size: 17px;
  line-height: 25px;
}

.navListBox {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.navListItemsBox {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  font-family: 'Karla', helvetica;
  font-weight: 100;
  padding: 9px 15px 0px 15px;
  color: white;
}

.navListItemsBox:hover {
  cursor: pointer;
  color: grey;
}

a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: grey;
}

.fa-apple {
  color: white;
}

.fa-apple:hover {
  color: grey;
}

img {
  display: block;
  margin: 0 auto;
  padding: 2% 0 0 8%;
}

.iphone-text {
  margin-top: -1%;
  padding-top: 10%;
}

#navbar {
  display: block;
}

#iphone-content {
  margin-top: 1%;
}

@media only screen and (max-width: 1237px) {
  nav {
    height: 88px;
    line-height: 25px;
  }
  .iphone-text {
    padding-top: 14%;
  }
}


@media only screen and (max-width: 826px) {
  img.iphone-pic {
    width: 80%;
    margin-right: 10%;
}
.iphone-text {
  margin-right: 40%;
padding-top: 18%;
width: 25%;
}
}

@media only screen and (max-width: 647px) {
      nav {
        height: 112px;
      }
      .iphone-text {
        padding-top: 35%;
      }
}

@media only screen and (max-width: 500px) {
    .iphone-text {
      padding-top: 45%;
    }
}

@media only screen and (max-width: 472px) {
  nav {
    height: 149px;
  }
  .iphone-text {
    padding-top: 55%;
}
}

@media only screen and (max-width: 320px) {
  .iphone-text {
      padding-top: 60%;
  }
}
